<div class="container mt-5">
  <div class="table table-hover container">
    <h4 class="d-flex justify-content-center">View all data</h4>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Message</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataArray">
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.message }}</td>
          <button class="btn btn-danger m-2" (click)="delete(item.id)">Delete</button>
          <button class="btn btn-success m-2" [routerLink]="['/edit', item.id]">Update</button>
      </tbody>
    </table>
  </div>
</div>